.ab{
    
    font-size: 20px;
    text-align: justify;
}
.hd{
    color: black;
    font-weight: bold;
}
.dev{
    
    margin-top: 15px;
    font-family: 'Segoe UI';
}
.maam{
    margin-left: 30px;
    margin-top: 15px;
    font-family: 'Segoe UI';
}